//@ This file is part of opal-delegates
//@ https://github.com/Pretty-SFOS/opal-delegates
{% for copyright_line in copyright_lines %}
//@ {{ copyright_line }}
{% endfor %}
{% for expression in spdx_expressions %}
//@ SPDX-License-Identifier: {{ expression }}
{% endfor %}
